* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

body {
    display: block;
    text-align: center;
    padding: 25px;
}

table {
    width: 250px;
    height: 25px;
    margin: 0 auto;
    
}

td {
    text-align: right;
    border: 1px solid aqua;
    
}

